name: Verify Hiero Wallet changes

on:
  pull_request:
    branches:
      - main
    paths:
      - 'hiero-wallet/**'

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  verify:
    defaults:
      run:
        working-directory: ./hiero-wallet
    name: Build and check
    runs-on: hl-idcol-lin-md

    steps:
      - name: Prepare Github Runner
        uses: pandaswhocode/initialize-github-job@ffb7446339e8e6007b942312ac95457d1a20b6cf # v1.0.4
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          setup-node: 'true'
          node-version: '20'

      - name: Enable Corepack
        run: corepack enable
        shell: bash

      - name: Install dependencies
        run: yarn install --immutable
        shell: bash

      - name: Run typecheck
        run: yarn typecheck

      - name: Run ESLint
        run: yarn lint

      - name: Run tests
        run: yarn test
