name: Build and release Android APK & AAB for Hiero Wallet

on:
  workflow_dispatch:

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    defaults:
      run:
        working-directory: ./hiero-wallet
    name: Build Android APK & AAB
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0 # avoid shallow clone to make versioning script work properly.

      - name: Set up Node and install dependencies
        uses: ./.github/actions/setup-npm-env

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: "zulu"
          java-version: 15
          cache: gradle

      - name: Get app version
        id: version
        working-directory: ./app
        run: echo "version=$(nbgv get-version -v NpmPackageVersion)" >> $GITHUB_OUTPUT

      - name: Bundle Hiero Wallet debug
        run: yarn bundle-app:android:debug

      - name: Prepare artifacts
        id: prepare_artifacts
        run: |
          mkdir "output"

          cp "app/android/app/build/outputs/apk/debug/app-debug.apk" "output/hiero-wallet.apk"

      - name: Upload artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Build artifacts
          path: output/

#  create_release:
#    name: Create release and upload assets
#    runs-on: ubuntu-latest
#    needs: build
#
#    steps:
#      - name: Download build artifacts
#        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
#        with:
#          name: Build artifacts
#          path: artifacts
#
#      - name: Set release info
#        id: release-info
#        run: |
#          date=$(date +'%Y%m%d%H%M')
#          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
#              echo "tagName=testing-${{ github.head_ref }}-${date}" >> $GITHUB_OUTPUT
#              echo "isPrerelease=true" >> $GITHUB_OUTPUT
#          else
#              echo "tagName=release-${{ github.ref }}-${date}" >> $GITHUB_OUTPUT
#              echo "isPrerelease=false" >> $GITHUB_OUTPUT
#          fi
#
#      - name: Create GitHub release
#        id: create_release
#        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
#        with:
#          tag_name: ${{ steps.release-info.outputs.tagName }}
#          prerelease: ${{ steps.release-info.outputs.isPrerelease }}
#
#      - name: Upload Hiero Wallet debug
#        uses: actions/upload-release-asset@v1
#        with:
#          upload_url: ${{ steps.create_release.outputs.upload_url }}
#          asset_path: artifacts/hiero-wallet.apk
#          asset_name: hiero-wallet-${{ needs.build.outputs.version }}.apk
#          asset_content_type: application/vnd.android.package-archive

